<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a FastLoco</title>
</head>
<body>
    <header>  
        <nav>
            <ul>
                <li><a href="../Views/login.html">Iniciar Sesión</a></li>
                <li><a href="../Views/order.html">Ordenar</a></li>
                <li><a href="../Views/register.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Bienvenidos a FastLoco</h1>
            <p>Rápido, Exquisito y con un Toque de Locura</p>
        </section>
        <section>
            <h2>Promos de Locura</h2>
            <article>
                <h3>Todo es mejor x2</h3>
            </article>
            <article>
                <h3>Combinaciones de locura</h3>
            </article>
            <article>
                <h3>Pizza lanostra</h3>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 FastLoco. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
