<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenar - FastLoco</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            <!----Sección de la Navegavilidad--->
                <li><a href="../Views/login.html">Iniciar Sesión</a></li>
                <li><a href="../Views/index.html">Inicio</a></li>
                <li><a href="../Views/register.html">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Ordenar</h1>
            <article>
                <h2>Hamburguesa Sencilla</h2>
                <p>$2.99</p>
                <button>Agregar</button>
            </article>
            <article>
                <h2>Salchipapa Normal</h2>
                <p>$2.99</p>
                <button>Agregar</button>
            </article>
            <article>
                <h2>Salchipapa Entera</h2>
                <p>$4.99</p>
                <button>Agregar</button>
            </article>
            <article>
                <h2>Hamburguesa BigMom</h2>
                <p>$3.99</p>
                <button>Agregar</button>
            </article>
            <article>
                <h2>Hamburguesa Entera</h2>
                <p>$3.99</p>
                <button>Agregar</button>
            </article>
            <article>
                <h2>Hamburguesa Quesosa</h2>
                <p>$3.99</p>
                <button>Agregar</button>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 FastLoco. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
